<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Documento de html</title>
</head>
<body>

     <!--------------------------   HEADER   ------------------------->

    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo" width="50%">
    <form method="get" action="" id="form">
        <input type="search" class="entrada" name="q" placeholder="Busca tu producto...">
        <div class="buscador"></div><button type ="submit"><i class="fas fa-search"></i></button></div>
    </form>
    <br>
    <div class="div1"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</div>
    <div class="navbar">  
    <nav class="header-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="registro">Crea tu cuenta</a><i class="far fa-id-card" id="icon"></i></li>
                <li><a href="login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </div>      
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

    </header>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="" width="100%">
    </div>

    <!--------------------------   MAIN    ------------------------->

    <main>
            <h2 class="titulo">Basado en tu última vista</h2>
        <div class="productos">    
            <article class="articulo">
                <img class="producto-imagen" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
            <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a"></i></div>
                <p class="precio">$6.770</p>
                <P class="ofertas">40% off</P>
            </div>
                <h4>Cafetera moulinex</h4>
            
            </article>
            
            <article class="articulo">       
                <img src="/images/img-macbook-pro-2019.jpg" alt="MAC" width="100%">
            <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a"></i></div>
                <p class="precio">$230.000</p>
                <p class="ofertas">20% off</p>
            </div>
                <h4>MacBook Pro 2019</h4>
            
            </article>
        
        <article class="articulo">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="s10" width="100%">
        <div class="descripcion">
            <div class="Envio"><i class="fas fa-truck" style="color: #39b54a"></i></div>
            <p class="precio">$70.500</p>
            <p class="ofertas">10% off</p>
        </div>
            <h4>Samsung Galaxy S10</h4>
        
        </article>
        
        <article class="articulo">
            <img src="/images/img-tv-samsung-smart.jpg" alt="tv" width="100%">
        <div class="descripcion">
            <div class="Envio"><i class="fas fa-truck" style="color: #39b54a"></i></div>
            <p class="precio">$23.200</p>
            <p class="ofertas">5% off</p>
        </div>
            <h4>SmartTv Samsung 43</h4>
        
        </article>
        </div>

         <br>

            <h3 class="titulo">Seccion de ofertas</h3> 
            <div class="productos"> 
            <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
            <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a"></i></div>
                <p class="precio">$6.770</p>
                <P class="ofertas">40% off</P>
            </div>
                <h4>Cafetera moulinex</h4>
            
            </article>
             
            <article class="articulo">       
                <img src="/images/img-macbook-pro-2019.jpg" alt="MAC" width="100%">
            <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a"></i></div>
                <p class="precio">$230.000</p>
                <p class="ofertas">20% off</p>
            </div>
                <h4>MacBook Pro 2019</h4>
            
            </article>
            
            <article class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="s10" width="100%">
            <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a"></i></div>
                <p class="precio">$70.500</p>                
                <p class="ofertas">10% off</p>
            </div>
                <h4>Samsung Galaxy S10</h4>
            
            </article>
            
            <article class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv" width="100%">
            <div class="descripcion">
                <div class="Envio"><i class="fas fa-truck" style="color: #39b54a"></i></div>
                <p class="precio">$23.200</p>
                <p class="ofertas">5% off</p>
            </div>               
                <h4>SmartTv Samsung 43</h4>
            
            </article>
        </div>
    </main>

    <br><br><br>

    <!--------------------------   FOOTER    ------------------------->

    <footer>
        <div class="contenedor">
            <div class="item">
                <div><i class="fas fa-credit-card icon" ></i></div>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés <br> con tarjeta o efectivo en
                puntos de pago. <br> ¡Y siempre es seguro!
                </p>
            </div>
            <div class="item">
                <div><i class="fas fa-gift icon"></i></div>
                <h3>Envio gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de 
                 productos. <br> Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="item">
                <div><i class="fas fa-user-shield icon"></i></div>
                <h3>Seguridad, de principio a fin</h3>
                <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br> no hay nada que no puedas hacer, 
                porque <br> estás siempre protegid@.
                </p>
            </div>
            </div>
            <p id="p1">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>