header{
    width: 100%;
    background-color: #eac926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: black;
}
.entrada{
    border: none;
    width: 75%;
    height: 30px;
    margin: 0px;
    padding: 5px;
}

ul{
    list-style: none;
    padding-left: 0;
}
.navbar{
    display: none;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
}

.header-navbar ul {
       display: flex;     
}
.header-navbar li{
    margin: 0 5px;
}
#form{
    width: 50%;
    background-color: white;
    box-sizing: border-box;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 0px;
}
.div1{
    text-align: center;
    margin: 10px;
}
.burger-menu{
    text-align: center;
}
.fa-hand-holding-usd{
    margin: 5px;
}
.fa-bars{
    padding: 8px;
    background-color: #1259c3;
    color: white;
    border-radius: 4px;
}



body{
    width: 100%;
    margin: 0px
}

main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
#registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ebebeb;
    width: 100%;
}
input{
    margin: 10px;
}
.cuadro{
    width: 80%;
    height: 1.5rem;
    border: none;
    padding: 10px;
}
#boton{
    background-color:#EAC926;
    color:black ;
    border: none;
    width: 30%;
    height: 2rem;
    border-radius: 5%; 
    margin: 20px;
}
#boton:hover{
    background-color: #0022AA;
    color: #ebebeb;
    transition: 0.5s;
}



/* FOOTER */

footer{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}
.icon{
    font-size: 3em;
    margin-bottom: 10px;
    color: #1259c3;
}
#p1{
    margin-top: 20px;
    text-align: left;
    font-weight: lighter;
}

footer > p{
    padding: 10px;
    line-height: normal;
}


/* MEDIA QUERY MOBILE FIRST */
@media (min-width: 426px){
    .navbar{
    display: block;
}
#form{
    width: 30%;
}
.burger-menu{
    display:none
}
}

@media (min-width: 769px){
    .contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .item{
        width: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}